<ion-view view-title="Lista de Comics">
  <ion-content>
    <div class="main-view-content">
      <img src="img/marvel-bg.jpg">
      <h2>Lista de Comics</h2>
      <form class="item item-input-inset" ng-submit="submit()" ng-controller="SearchCtrl">
        <label class="item item-input-wrapper">
          <input type="text" ng-model="text" name="text" placeholder="Ingrese año o título">
          <!-- <input type="submit" id="submit" value="Buscar" /> -->
        </label>
        <button class="button" type="submit" id="submit">Buscar</button>
      </form>
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right items-list" ng-repeat="comic in comics" type="item-text-wrap" href="#/tab/comics/{{comic.id}}">
        <img ng-src="{{comic.thumbnailSquare}}">
        <h2>{{comic.title}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
