/* Empty. Add your own CSS if you like */

/* ///////////////////////
  tab-comic style
  ////////////////////////
*/
.main-view-content {
  text-align: center;
}
  .main-view-content h2 {
    font-family: 'Marvel', sans-serif;
    margin-bottom: 30px;
  }
  .main-view-content img {
    width: 100%;
  }
.items-list h2 {
  font-family: 'Marvel', sans-serif !important;
  font-size: 20px;
}

/* ///////////////////////
  comic-detail style
  ////////////////////////
*/
.comic-detail-content {
  text-align: center;
}
  .comic-detail-img {
    margin: 25px auto 20px auto;
    box-shadow: 10px 10px 5px #888888;
  }
  .comic-detail-content table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  .comic-detail-content td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

/* ///////////////////////
  tabs style
  ////////////////////////
*/
.tab-icon {
  color: #ed1b24 !important;
}

/* ///////////////////////
  top bar style
  ////////////////////////
*/
.bar {
  background-color: #ed1b24 !important;
}
  .bar .title, .bar .back-button {
    color: #fff !important;
  }

/* ///////////////////////
  search-tab style
  ////////////////////////
*/
.year-search-content .button  {
  background-color: #eee;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
